# Git
.git
.gitignore

# Binaries
bin/

# Documentation
docs/
*.md

# Docker files
Dockerfile
docker-compose.yaml
.dockerignore

# Scripts
docker.sh
*.sh

# IDE & OS
.vscode/
.idea/
*.DS_Store

# Test files
*_test.go

# Log files
*.log

# etc
*.md
*.png
*.txt
